.edit-name-container {
  display: flex;
  flex-direction: column;
  position: relative;
  .close-form-button {
    position: absolute;
  }
  .input-container {
    margin-top: 3em;
    border: none;
    input {
      width: 100%;
    }
  }

  .btn {
    margin: 0 auto;
  }
}
