.nav-bar-container {
  margin-bottom: 6em;
}

.nav-bar {
  position: fixed;
  top: 0;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  border: 1px solid black;
  background: #000;
  z-index: 1;
}

.nav-bar > * {
  text-decoration: none;
  margin: 0 1.3em;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
}

.nav-bar > *:hover,
.nav-bar > *:focus {
  .nav-bar-hover:before {
    display: block;
  }
}

.nav-bar-hover {
  position: relative;
  cursor: pointer;
}

.nav-bar-hover:before {
  display: none;
  position: absolute;
  content: '';
  height: 0.3em;
  bottom: -0.05em;
  z-index: 1;
  background-color: rgb(255, 0, 0);
  width: 70%;
}
