.student-container {
  margin-top: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  img {
    width: 350px;
  }
  .average-score {
    margin-bottom: 1em;
    font-size: 1.25rem;
    span {
      font-weight: bold;
    }
  }
}

.student-feedback-container {
  width: 85%;
  max-width: 800px;
}

.student-feedback-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  min-height: 2em;
  font-size: 1.2rem;
  padding: 0.5em;
  margin-bottom: 1em;
  .description {
    text-align: left;
  }
}

.description {
  width: 50%;
}

.date {
  width: 20%;
}

.behaviour,
.academics,
.date {
  position: relative;
}

.behaviour:before,
.academics:before,
.date:before {
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: rgba(0, 0, 0, 0.493);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 0.25s ease-in-out;

  position: absolute;
  z-index: 1;
  left: -100%;
  top: 130%;
}

.behaviour:hover:before,
.academics:hover:before,
.date:hover:before {
  opacity: 1;
  visibility: visible;
}

.behaviour:before {
  content: 'Behaviour';
}

.academics:before {
  content: 'Academics';
}

.date:before {
  content: 'Date of comment';
}

.student-feedback-button {
  color: black;
  background-color: rgba(250, 203, 150, 0.466);
  border: 1px solid black;
  padding: 1em 1.25em;
  font-size: 1.25rem;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 100ms;
  margin-bottom: 1.2em;
}

.student-feedback-button:hover,
.student-feedback-button:focus {
  background-color: black;
  color: white;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0);
  background: rgba(0, 0, 0, 0.404);
}

.close-form-button {
  margin-left: auto;
  position: relative;
  font-size: 1.2rem;
  cursor: pointer;
  span {
    font-size: 1rem;
  }
}

.close-form-button:hover,
.close-form-button:focus {
  background: red;
  color: white;
}

.delete-confirm-container {
  position: absolute;
  left: 0;
  right: 0;
  width: fit-content;
  text-align: center;
  top: 40%;
  padding: 4em;
  background: #ffffff;
  margin: auto;
}
