.student-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  img {
    width: 40%;
    min-width: 300px;
    max-width: 450px;
  }
}

.student-feedback-container {
  width: 75%;
  max-width: 700px;
}

.student-feedback {
  border: 1px solid black;
  min-height: 2em;
  font-size: 1.2rem;
  display: flex;
  padding: 0.5em;
  margin-bottom: 1em;
  justify-content: space-between;
  p {
    text-align: left;
  }
  span {
    color: grey;
    font-size: 0.8rem;
    text-align: right;
  }
  scale: 1;
  transition: scale 0.25s;
}

.student-feedback:hover,
.student-feedback:focus {
  scale: 1.05;
  background-color: rgb(224, 224, 224);
}

.student-feedback-button {
  color: black;
  background-color: rgba(250, 203, 150, 0.466);
  border: 1px solid black;
  padding: 1em 1.25em;
  font-size: 1.25rem;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 100ms;
}

.student-feedback-button:hover,
.student-feedback-button:focus {
  background-color: black;
  color: white;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0);
  background: rgba(0, 0, 0, 0.404);
}

.back-form-button {
  margin-left: auto;
  position: relative;
  font-size: 1.2rem;
  cursor: pointer;
  span {
    font-size: 1rem;
  }
}
