.person-container {
  margin: 0 auto;
  width: 80%;
  .student-list-header-container {
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    h2 {
      margin-bottom: 0;
    }
    .buttons-container {
      align-self: flex-start;
      margin-bottom: 0.5em;
    }
    .list-button {
      margin-right: 1em;
      color: white;
      font-size: 1.2rem;
      font-weight: bold;
      border: none;
      cursor: pointer;
    }
    .list-button:hover,
    .list-button:focus {
      background: darkgreen;
    }
    .add-student-button {
      padding: 0.75em 1em;

      background: green;
    }
    .add-student-button:hover,
    .add-student-button:focus {
      background: darkgreen;
    }
    .remove-student-button {
      padding: 0.75em 1.15em;
      background: red;
    }
    .remove-student-button:hover,
    .remove-student-button:focus {
      background: darkred;
    }
  }
  h3 {
    font-size: 1.6rem;
  }
  @media (min-width: 762px) {
    max-width: 800px;
    margin-left: auto;
  }
}

.headings-container {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'name level';
  padding: 0 1em;
  background-color: rgba(250, 203, 150, 0.466);
  margin-bottom: 1em;
}

.person-name-label {
  grid-area: name;
}
.person-level-label {
  grid-area: level;
  text-align: right;
}

.table-container {
  display: flex;
  flex-direction: column;
}
