.person-container {
  margin: 0 auto;
  width: 80%;
  .student-list-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h2 {
      font-size: 2.5rem;
    }
    .buttons-container {
      align-self: center;
    }
    .list-button {
      margin-left: 0.2em;
      color: white;
      font-size: 1.2rem;
      font-weight: bold;
      border: none;
      cursor: pointer;
    }
    .list-button:hover,
    .list-button:focus {
      background: rgb(23, 102, 23);
    }
    .add-student-button {
      padding: 0.5em 0.75em;
      background: rgb(70, 165, 70);
    }
    .add-student-button:hover,
    .add-student-button:focus {
      background: darkgreen;
    }
    .remove-student-button {
      padding: 0.5em 0.8em;
      background: rgb(194, 60, 60);
    }
    .remove-student-button:hover,
    .remove-student-button:focus {
      background: rgb(165, 18, 18);
    }
  }
  h3 {
    font-size: 1.6rem;
  }
  @media (min-width: 762px) {
    max-width: 800px;
    margin-left: auto;
  }
}

.headings-container {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'name level';
  padding: 0 1em;
  background-color: rgba(250, 203, 150, 0.466);
  margin-bottom: 1em;
}

.person-name-label,
.person-level-label {
  cursor: pointer;
  width: fit-content;
}

.person-name-label:hover,
.person-level-label:hover,
.person-name-label:focus,
.person-level-label:focus {
  color: rgb(40, 119, 119);
}

.person-name-label {
  grid-area: name;
}
.person-level-label {
  grid-area: level;
  text-align: right;
  margin-left: auto;
}

.table-container {
  display: flex;
  flex-direction: column;
}
