.volunteer-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  img {
    width: 40%;
    min-width: 300px;
    max-width: 450px;
  }
}

// .volunteer-feedback-container {
//   width: 75%;
//   max-width: 700px;
// }

// .volunteer-feedback {
//   border: 1px solid black;
//   min-height: 2em;
//   font-size: 1.2rem;
//   display: flex;
//   padding: 0.5em;
//   margin-bottom: 1em;
//   justify-content: space-between;
//   p {
//     text-align: left;
//   }
//   span {
//     color: grey;
//     font-size: 0.8rem;
//     text-align: right;
//   }
//   scale: 1;
//   transition: scale 0.25s;
// }

// .volunteer-feedback:hover,
// .volunteer-feedback:focus {
//   scale: 1.05;
//   background-color: rgb(224, 224, 224);
// }
