#delete-feedback {
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: blue;
  cursor: pointer;
}

#delete-feedback:hover,
#delete-feedback:focus {
  color: red;
}

.student-feedback {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  min-height: 2em;
  font-size: 0.9rem;
  padding: 0.5em;
  margin-bottom: 1em;
  scale: 1;
  transition: scale 0.25s;
  position: relative;
  .comment-author {
    position: absolute;
    top: 0;
    margin-top: 0.5em;
  }

  .description {
    text-align: left;
    max-width: 400px;
    // max-height: 8em;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow-y: hidden;
  }

  @media (min-width: 672px) {
    .description {
      max-width: 100%;
    }
  }
  .description-full {
    max-height: 100%;
  }
  span {
    color: grey;
    font-size: 0.8rem;
  }
  .date {
    word-wrap: break-word;
  }
}

.student-feedback:hover,
.student-feedback:focus {
  scale: 1.05;
  background-color: rgb(224, 224, 224);
}

.expand {
  position: absolute;
  bottom: 2%;
  left: 45%;
  cursor: pointer;
}

.expand:hover,
.expand:focus {
  color: rgb(21, 240, 167);
}
