.person-preview-container {
  font-size: 1.1rem;
  margin-bottom: 0.5em;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background: rgb(255, 255, 255);
  padding: 1em;
  // border: 1px solid black;
  scale: 1;
  transition: scale 0.25s;
  text-decoration: none;
  color: black;
  cursor: pointer;
  .person-identifier {
    max-width: 50%;
  }
  .request-action-btn {
    cursor: pointer;
    border: none;
    margin-left: 1em;
    padding: 0 0.25em;
    font-size: 1.4rem;
    background-color: #f5f5f5;
  }
  .request-action-btn:hover,
  .request-action-btn:focus {
    background: #fefefe;
  }
}

.person-preview-container:hover,
.person-preview-container:focus {
  background-color: rgba(187, 186, 186, 0.226);
  scale: 1.025;
}
